#IDE/Editor directories
.project
.pydevproject
.idea
*.pyc
.settings/org.eclipse.core.resources.prefs
.vscode/*

#private Table Bot data
tablebot_data/*
room_data.txt
room_race_data.txt
AI_data.pkl
room_data_tracking.db
data_tracking/*.db
*/room_data_tracking.db
team_formats.pkl
miis/mii_cache/*
/*.db
miis/*
logging/full_logging.txt

#keep description files
!*/description.txt
!*/BadWolf.jpg

#dev files
chrome-cli/*
helpful_tools/DB.Browser.for.SQLite-3.12.2-win32.msi
properties.json