#IDE/Editor directories
.project
.pydevproject
.idea
*.pyc
.settings/org.eclipse.core.resources.prefs
.vscode/*
tablebotvenv/*

#private Table Bot data
tablebot_data/*
room_data.txt
room_race_data.txt
AI_data.pkl
team_formats.pkl
/*.db
miis/*
logging/full_logging.txt
logging/error_logs.txt
logging/messages_logging.txt
discord_server_settings/*

#keep ILT setting migration script
!ILT_migration.py 

#keep description files
!*/description.txt
!*/BadWolf.jpg

#dev files
chrome-cli/*
helpful_tools/DB.Browser.for.SQLite-3.12.2-win32.msi
properties.json
logfile.log
