body {
    font-family: fantasy;
}

.format,
.races_played,
.date,
.score,
.player_total,
.player_name,
.team_name,
.team_score {
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.644);

}

.header_wrapper,
.team_wrapper,
.team_name_wrapper,
.team_players_wrapper,
.player_wrapper,
.player_name_wrapper,
.gp_scores_wrapper,
.score_wrapper,
.player_total_wrapper,
.team_score_wrapper {
    border: none;
}

[id^="player_1_"] {
    color: red;
}

[id^="player_2_"] {
    color: orangered;
}

[id^="player_3_"] {
    color: yellow;
}

[id^="player_4_"] {
    color: green;
}

[id^="player_5_"] {
    color: rgb(88, 0, 252);
}

[id^="player_6_"] {
    color: rgb(158, 0, 179);
}

[id^="player_7_"] {
    color: red;
}

[id^="player_8_"] {
    color: orangered;
}

[id^="player_9_"] {
    color: yellow;
}

[id^="player_10_"] {
    color: green;
}

[id^="player_11_"] {
    color: rgb(88, 0, 252);
}

[id^="player_12_"] {
    color: rgb(158, 0, 179);
}

[id^="player_13_"] {
    color: red;
}

[id^="player_14_"] {
    color: orangered;
}

[id^="player_15_"] {
    color: yellow;
}

[id^="player_16_"] {
    color: green;
}

[id^="player_17_"] {
    color: rgb(88, 0, 252);
}

[id^="player_18_"] {
    color: rgb(158, 0, 179);
}

.team_wrapper:nth-child(7n+1) > .team_name_wrapper,
.team_wrapper:nth-child(7n+1) > .team_score_wrapper {
    color: rgb(158, 0, 179);
}

.team_wrapper:nth-child(7n+2) > .team_name_wrapper,
.team_wrapper:nth-child(7n+2) > .team_score_wrapper {
    color: rgb(88, 0, 252);

}

.team_wrapper:nth-child(7n+3) > .team_name_wrapper,
.team_wrapper:nth-child(7n+3) > .team_score_wrapper {
    color: green;
}

.team_wrapper:nth-child(7n+4) > .team_name_wrapper,
.team_wrapper:nth-child(7n+4) > .team_score_wrapper {
    color: yellow;
}

.team_wrapper:nth-child(7n+5) > .team_name_wrapper,
.team_wrapper:nth-child(7n+5) > .team_score_wrapper {
    color: orangered;
}

.team_wrapper:nth-child(7n+6) > .team_name_wrapper,
.team_wrapper:nth-child(7n+6) > .team_score_wrapper {
    color: red;
}

/* :nth-child(7n+1 of .score), :nth-child(7n+1 of .player_total), :nth-child(7n+1 of .team_name), :nth-child(7n+1 of .team_score)*/
