body {
    font: bold small-caps Verdana;
    font-weight: bold;
    color: white;
}

#tablebot_table {
    background-color: #0f400f;
    border-radius: 0px;
}

.races_played,
.format,
.date,
.score,
.player_total,
.player_name,
.team_name,
.team_score {
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.644);
}

.team_score_wrapper{
    font-size: 50px;
}
.team_name_wrapper{
    font-size: 50px;
}

.player_wrapper,
.player_total_wrapper,
.player_name_wrapper,
.score_wrapper{
    font-size: 20px;
}

.header_wrapper,
.team_wrapper,
.team_score_wrapper,
.team_name_wrapper,
.score_wrapper,
.player_name_wrapper,
.player_total_wrapper,
.player_wrapper {
    border-color: white;
}
