body {
    font-size: 25px;
    box-sizing: border-box;
    line-height: 1.6;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

h2 {
    font-weight: bold;
    font-size: 35px;
}

ol {
    margin-left: 20px
}


form {
    display: flex;
    align-items: center;
}

form > * {
    margin-right: 7px;
}
