body{
    font: bold small-caps Verdana;
    color: white;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.644);
}
#tablebot_table {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.644);
    background-color: #1932c4;
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; /* override base template */
    
}

#team_names_box, #scores_box{
    grid-auto-flow: row;
    grid-auto-rows: minmax(0, 1fr);

}

.team_score, .team_name{
    margin: auto;
    text-align: center;
}

.team_name_box, .score_box{
    border: none;
    border-top: 4px solid white;
}
.score_box{
    border-left: 4px solid white;
}

.score_box:first-child{ 
    border-left: 4px solid white; /* override base style because we need a border on the child it removed border from */
    border-top: none;
}
.team_name_box:first-child{ 
    border-top: none;
}


