/* This file contains the base CSS that will apply first to all team score HTML */
body {
    margin: 0px auto;
    font-size: 70px;
}

#tablebot_table {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, 1fr);
}
#team_names_box, #scores_box{
    display: inline-grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.team_name_box, .score_box{
    display: inline-grid;
    padding: 10%;
}
.team_name_box{
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}
.score_box{
    border-left: 3px solid black;
}

.team_score, .team_name{
    margin: auto;
    text-align: center;
    overflow-wrap: anywhere;
}

.team_name_box:first-child, .score_box:first-child{
    border-left: none;
}
