body{
    padding: 5%;
}
table,
td,
th {
    border: none;
    font-family: cursive;
}
table {
    background-color: black;
    box-shadow: 0 0 .5rem #fff,
    0 0 .5rem #fff,
    0 0 .5rem #fff,
    0 0 .5rem #fff,
    0 0 5rem #bc13fe,
    0 0 0.3rem #bc13fe,
    0 0 2rem #bc13fe,
    inset 0 0 1.3rem #bc13fe; 
}
.team_name,
.team_score {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;


    animation: pulsate 1.5s infinite alternate;
    padding: 0.4em;

}

.team_name:nth-child(7n+1),
.team_score:nth-child(7n+1) {
    color: #fe68a8;
}

.team_name:nth-child(7n+2),
.team_score:nth-child(7n+2) {
    color: #3869c8;
}

.team_name:nth-child(7n+3),
.team_score:nth-child(7n+3) {
    color: #4fdddf;
}

.team_name:nth-child(7n+4),
.team_score:nth-child(7n+4) {
    color: #ffda58;
}


.team_name:nth-child(7n+5),
.team_score:nth-child(7n+5) {
    color: #cf95fb;
}

.team_name:nth-child(7n+6),
.team_score:nth-child(7n+6) {
    color: #4ff141;
}
 /* text glow */
.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }