body{
    font-family: fantasy;
}

.team_name,
.team_score {
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.644);
}

.team_name_box, .score_box{
    border: none;
}
.team_name_box:nth-child(7n+1),
.score_box:nth-child(7n+1) {
    color: red;
}

.team_name_box:nth-child(7n+2),
.score_box:nth-child(7n+2) {
    color: orangered;
}

.team_name_box:nth-child(7n+3),
.score_box:nth-child(7n+3) {
    color: yellow;
}

.team_name_box:nth-child(7n+4),
.score_box:nth-child(7n+4) {
    color: green;
}


.team_name_box:nth-child(7n+5),
.score_box:nth-child(7n+5) {
    color: rgb(88, 0, 252);
}

.team_name_box:nth-child(7n+6),
.score_box:nth-child(7n+6) {
    color: rgb(158, 0, 179);
}
