body{
    font-family: cursive;
}

.header_wrapper, .team_name_box, .score_box{
    border: none;
}

.header,
.team_name,
.team_score {
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.644);
}

.team_name_box:nth-child(7n+1),
.score_box:nth-child(7n+1) {
    color: #fe68a8;
}

.team_name_box:nth-child(7n+2),
.score_box:nth-child(7n+2) {
    color: #3869c8;
}

.team_name_box:nth-child(7n+3),
.score_box:nth-child(7n+3) {
    color: #4fdddf;
}

.team_name_box:nth-child(7n+4),
.score_box:nth-child(7n+4) {
    color: #ffda58;
}


.team_name_box:nth-child(7n+5),
.score_box:nth-child(7n+5) {
    color: #cf95fb;
}

.team_name_box:nth-child(7n+6),
.score_box:nth-child(7n+6) {
    color: #4ff141;
}
