table,
td,
th {
    border: 0;
}

table {
    width: 85%;
    font: bold small-caps Verdana;
    color: white;
    border: none;
    background-color: #1932c4;
    border-collapse: collapse;
    border: none;
    border-radius: 10px;
    display: block;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.644)
}

thead,
tbody {
    width: 50%;
}

tbody {
    border-left: 4px solid white;
}

tr {
    display: flex;
    flex-direction: column;
    overflow:hidden;
}



.team_name,
.team_score {
    width: 100% !important; /* override inline style in HTML */
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.644);
    padding-top: 3%;
    padding-bottom: 3%;
    border-top: 4px solid white;

}
.team_name:first-child, .team_score:first-child{
    border-top: none;

}
