body{
    font: bold small-caps Verdana;
    color: white;
}
#tablebot_table {
    background-color: #bd3500;
    border-radius: 10px;
}

.header_wrapper, .team_name_box, .score_box{
    border-color: white;
}

/* .header,
.team_name,
.team_score {
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.644);
} */