body{
    font-family: cursive;
}

#tablebot_table {
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 10px;
    
}

.team_name,
.team_score {
    padding: 0.1em;  
    overflow-y: visible;
    overflow-x: visible;

}

.team_name_box, .score_box, .team_name_box:first-child, .score_box:first-child{
    overflow-y: visible;
    border-style: double;
    overflow-x: hidden;
    border-width: 8px;
    border-color: rgba(230, 0, 115, 0.65);
}


.score_box, .score_box:first-child {

    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
    border-top-left-radius: 600px;
    border-top-right-radius: 600px;
}
.team_name_box, .team_name_box:first-child{
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
    border-top-left-radius: 600px;
    border-top-right-radius: 600px;
    border-left-width: -200px;
    border-right-width: -200px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

.score_box:first-child, .team_name_box:first-child{
    margin-left: 20px;
}
.score_box:last-child, .team_name_box:last-child{
    margin-right: 20px;
}

 /* text glow */
.team_name, .team_score{
    color: #fff;
    -webkit-animation: glow 1.5s cubic-bezier(.67, -0.37, .77, -0.39) infinite alternate;
    -moz-animation: glow 1.5s ease-out infinite alternate;
    animation: glow 1.5s ease-out infinite alternate;
  }
  
@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
    to {
      text-shadow: 0 0 2px #fff, 0 0 5px #ff4da6, 0 0 10px 0xff4d4d, 0 0 15px #ff4da6, 0 0 20px #ff4da6, 0 0 30px #ff4da6, 0 0 40px #ff4da6;
    }
  }